.float-bottom {
    height: 70px;
    width: 100%;
    z-index: 1;
    position: fixed;
    bottom: 0;
}

.background {
    background-color: rgb(255, 255, 255);
    height: 80px;
    position: relative;
}

.rec {
    position: absolute;
    height: 60px;
    width: 100%;
    bottom:0;
    border-radius: 0px 50px 0 0 ;
    background-color: #FFEBE5; 
    z-index: 20;
}